@import url("https://fonts.googleapis.com/css?family=Fugaz+One|Patua+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-3rem);
  }
  80% {
    opacity: 1;
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  line-height: 1.4;
  color: #777;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 4rem;
  overflow: hidden;
}
@media (max-width: 740px) {
  .heading-primary {
    margin-top: 10rem;
    font-size: 4rem !important;
    width: 100% !important;
  }
}
.heading-primary--main {
  display: block;
  background-image: linear-gradient(to right, #eb3ac6, #fe945a);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 6.3rem;
  font-weight: 700;
  transition: background-position 275ms ease;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}
@media (max-width: 1300px) {
  .heading-primary--main {
    font-size: 5rem !important;
    width: 70%;
  }
}
@media (max-width: 75em) {
  .heading-primary--main {
    font-size: 4rem;
    width: 70%;
  }
}
@media (max-width: 1050px) {
  .heading-primary--main {
    font-size: 3.5rem !important;
    width: 70%;
  }
}
@media (max-width: 37.5em) {
  .heading-primary--main {
    letter-spacing: 0rem !important;
    width: 95% !important;
    font-size: 4rem !important;
  }
}
@media (max-width: 345px) {
  .heading-primary--main {
    font-size: 3rem !important;
    letter-spacing: 0rem !important;
  }
}
.heading-primary--main:hover {
  background-image: linear-gradient(to left, #eb3ac6, #fe945a);
  background-position: 0 100%;
}
.heading-primary--sub {
  display: block;
  font-size: 2.7rem;
  font-weight: 400;
  letter-spacing: 0.75rem;
  animation: moveInRight 1s ease-out;
}
@media (max-width: 1300px) {
  .heading-primary--sub {
    font-size: 2rem !important;
  }
}
@media (max-width: 1050px) {
  .heading-primary--sub {
    font-size: 1.3rem !important;
    width: 60%;
    letter-spacing: 0.1 !important;
  }
}
@media (max-width: 37.5em) {
  .heading-primary--sub {
    letter-spacing: 0.5rem;
    font-size: 2rem !important;
  }
}
@media (max-width: 420px) {
  .heading-primary--sub {
    margin-top: 2rem;
    font-size: 2rem !important;
    width: 95% !important;
    letter-spacing: 0 !important;
  }
}
@media (max-width: 335px) {
  .heading-primary--sub {
    font-size: 1.8rem !important;
    letter-spacing: 0rem !important;
  }
}
@media (max-width: 335px) {
  .heading-primary--sub {
    font-size: 1.8rem !important;
    letter-spacing: 0rem !important;
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #2998ff, #3120c7);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.1rem;
  transition: all 0.2s;
  z-index: 4;
}
.heading-secondary-white {
  color: #fff !important;
}
@media (max-width: 56.25em) {
  .heading-secondary {
    font-size: 3rem;
  }
}
@media (max-width: 37.5em) {
  .heading-secondary {
    font-size: 2.75rem;
    width: 80% !important;
  }
}
.heading-secondary:hover {
  transform: skewY(2deg) skewX(15deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}
.heading-tertiary-dark {
  color: #505962;
  font-size: 1.75rem;
}

.paragraph {
  font-size: 1.6rem;
}
.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

.highlights {
  background-image: linear-gradient(to right, #2998ff, #3120c7);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  font-size: 5rem !important;
}

.highlights1 {
  background-image: linear-gradient(to right, #2998ff, #3120c7);
  -webkit-background-clip: text;
  color: transparent;
}

.highlights-1 {
  font-size: 4.5rem;
  background-image: linear-gradient(to left, #ccff00, #09afff) !important;
  -webkit-background-clip: text;
  color: transparent;
}

.text-change {
  background-image: linear-gradient(to right, #eb3ac6, #fe945a) !important;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 6.3rem;
  font-weight: 700;
}

.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}
@media (max-width: 56.25em) {
  .u-margin-bottom-medium {
    margin-bottom: 3rem !important;
  }
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}
@media (max-width: 56.25em) {
  .u-margin-bottom-big {
    margin-bottom: 5rem !important;
  }
}

.u-margin-bottom-large {
  margin-bottom: 10rem !important;
}
@media (max-width: 56.25em) {
  .u-margin-bottom-large {
    margin-bottom: 5rem !important;
  }
}

.u-margin-top-big {
  margin-top: 8rem !important;
}

.u-margin-top-huge {
  margin-top: 10rem !important;
  margin-bottom: 15rem !important;
}

.u-margin-bottom-small-1 {
  margin-bottom: -1.5rem !important;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.25;
  overflow: hidden;
}
.bg-video__content {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.btn,
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn:active,
.btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn--blue {
  background: linear-gradient(120deg, rgba(143, 66, 236, 0) 0%, #812bea 100%);
  background-color: #b142ec;
  color: #fff;
  font-weight: 700;
}
.btn--blue::after {
  background-color: #b142ec;
}
.btn--blue:hover {
  color: #fff;
}

.btn--white {
  background-color: #fff;
  color: #777;
  font-weight: 700;
}
.btn--white::after {
  background-color: #fff;
}

.btn--green {
  background-color: #2998ff;
  color: #fff;
}

.btn--green:hover {
  background-color: #2998ff;
  color: #fff;
}

.btn--green::after {
  background-color: #2998ff;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn--animated {
  animation: moveInBottom 0.5s ease-out 0.95s;
  animation-fill-mode: backwards;
}

.btn-text:link,
.btn-text:visited {
  font-size: 1.6rem;
  color: #2998ff;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #2998ff;
  padding: 3px;
  transition: all 0.2s;
}

.btn-text:hover {
  background-color: #2998ff;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0);
}

.card-a {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 49rem;
}
.card-a__side {
  height: 49rem;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backface-visibility: hidden;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}
.card-a__side--front {
  background-color: #fff;
}
.card-a__side--back {
  transform: rotateY(180deg);
}
.card-a__side--back-1 {
  background-image: linear-gradient(to right bottom, #ff8008, #ffc837);
}
.card-a__side--back-2 {
  background-image: linear-gradient(to right bottom, #2998ff, #3120c7);
}
.card-a__side--back-3 {
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
}
.card-a:hover .card-a__side--front {
  transform: rotateY(-180deg);
}
.card-a:hover .card-a__side--back {
  transform: rotateY(0);
}
.card-a__picture {
  background-size: cover;
  height: 23rem;
  background-blend-mode: screen;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.card-a__picture--1 {
  background-image: linear-gradient(to right bottom, #ff8008, #ffc837),
    url(../img/card-1.jpg);
}
.card-a__picture--2 {
  background-image: linear-gradient(to right bottom, #2998ff, #3120c7),
    url(../img/card-2.jpg);
}
.card-a__picture--3 {
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485),
    url(../img/card-3.jpg);
}
.card-a__heading {
  font-size: 3rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: right;
  color: #fff;
  position: absolute;
  top: 12rem;
  right: 1rem;
  width: 75%;
}
.card-a__heading-span {
  padding: 1rem 1.5rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
.card-a__heading-span--1 {
  background-image: linear-gradient(
    to right bottom,
    rgba(255, 128, 8, 0.85),
    rgba(255, 200, 55, 0.85)
  );
}
.card-a__heading-span--2 {
  background-image: linear-gradient(
    to right bottom,
    rgba(41, 152, 255, 0.85),
    rgba(49, 32, 199, 0.85)
  );
}
.card-a__heading-span--3 {
  background-image: linear-gradient(
    to right bottom,
    rgba(126, 213, 111, 0.85),
    rgba(40, 180, 133, 0.85)
  );
}
.card-a__details {
  padding: 3rem;
}
.card-a__details ul {
  list-style: none;
  width: 80%;
  margin: 0 auto;
}
.card-a__details ul li {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
}
.card-a__details ul li:not(:last-child) {
  border-bottom: 1px solid #eee;
}
.card-a__cta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
}
.card-a__price-box {
  text-align: center;
  color: #fff;
  margin-bottom: 8rem;
}
.card-a__price-only {
  font-size: 1.4rem;
  text-transform: uppercase;
}
.card-a__price-value {
  font-size: 6rem;
  font-weight: 100;
}

.composition {
  position: relative;
}
.composition__photo {
  width: 55%;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  position: absolute;
  z-index: 2;
  transition: all 0.2s;
  outline-offset: 2rem;
}
@media (max-width: 56.25em) {
  .composition__photo {
    float: left;
    position: relative;
    width: 33.333%;
    box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
  }
}
.composition__photo--p1 {
  left: 4rem;
  top: -2rem;
}
@media (max-width: 56.25em) {
  .composition__photo--p1 {
    top: 0;
    transform: scale(1.2);
    z-index: -2;
  }
}
.composition__photo--p2 {
  right: 0;
  top: 1rem;
}
@media (max-width: 56.25em) {
  .composition__photo--p2 {
    top: 0;
    transform: scale(1.3);
    z-index: -1;
  }
}
.composition__photo--p3 {
  left: 20%;
  top: 8rem;
}
@media (max-width: 56.25em) {
  .composition__photo--p3 {
    top: 1rem;
    left: 0;
    z-index: -2;
    transform: scale(1.1);
  }
}
.composition__photo:hover {
  outline: 1.5rem solid #2998ff;
  transform: scale(1.1) translateY(-0.5rem);
  box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
  z-index: 20;
}
.composition:hover .composition__photo:not(:hover) {
  transform: scale(0.95);
}

.big-circle {
  margin-top: 42%;
  position: absolute;
  top: 0px;
  right: 0;
  z-index: 1;
  opacity: 0.5;
  height: 80%;
}
@media (max-width: 56.25em) {
  .big-circle {
    display: none;
  }
}

.medium-circle {
  position: absolute;
  top: 113%;
  right: 34%;
  z-index: -1;
  height: 60%;
  opacity: 0.4;
}
@media (max-width: 56.25em) {
  .medium-circle {
    display: none;
  }
}

.medium-circle1 {
  top: 130%;
  position: absolute;
  bottom: 0%;
  left: 4%;
  z-index: 1;
}
@media (max-width: 56.25em) {
  .medium-circle1 {
    display: none;
  }
}

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2rem 2rem;
  text-align: center;
  height: 34rem;
  width: 27rem;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform 0.3s;
}
@media (max-width: 56.25em) {
  .feature-box {
    padding: 2rem;
    height: 27rem;
    width: auto;
  }
}
.feature-box__icon {
  font-size: 6rem;
  margin-bottom: 0.5rem;
  display: inline-block;
  background-image: linear-gradient(to right, #2998ff, #3120c7);
  -webkit-background-clip: text;
  color: transparent;
}
@media (max-width: 56.25em) {
  .feature-box__icon {
    margin-bottom: 0;
  }
}
.feature-box:hover {
  transform: translateY(-1.5rem) scale(1.03);
}

.book-heading {
  margin-top: 5rem !important;
}

.paragraph-white-1 {
  color: #fff !important;
}

.fixed {
  background-image: url(../img/obi-onyeador-FSEMesejKWw-unsplash.jpg);
  z-index: 1;
}

.highlights {
  background-image: linear-gradient(to right, #2998ff, #3120c7);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  font-size: 3rem;
}

.heading {
  font-size: 2rem !important;
}

.fixed-background h3 {
  margin-bottom: 2rem;
}

.featurek svg.svg-inline--fa {
  color: #1ebba3;
}

h3.heading {
  font-size: 1.9rem !important;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1.9rem;
}

.fixed-background h3 {
  margin-bottom: 2rem;
}

.feature p {
  font-size: 1.1rem;
}

.dark {
  padding: 12rem 2rem;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
}

.dark-1 {
  padding: 12rem 2rem;
  background-color: rgba(3, 15, 54, 0.712);
  color: white;
}

.fixed-background p {
  margin-top: 1.5rem;
  font-size: 17px;
}

.heading-underline1 {
  width: 6rem;
  height: 0.2rem;
  background-color: #1ebba3;
  margin: 0 auto 2rem;
}

.first {
  margin-top: -3rem;
  width: 100% !important;
}

.img-cube {
  display: flex;
  width: 100%;
  /* width: 20rem; */
  /* height: 20rem; */
  margin-left: 1rem;
}

.offset:before {
  display: block;
  content: "";
  height: 4rem;
  margin-top: -4rem;
}

.fixed-1 {
  background-image: url(../img/layouts.jpg);
  z-index: 1;
}

.highlights {
  background-image: linear-gradient(to right, #2998ff, #3120c7);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  font-size: 3rem;
}

.heading {
  font-size: 2rem !important;
}

.fixed-background-1 h3 {
  margin-bottom: 2rem;
}

.featurek svg.svg-inline--fa {
  color: #1ebba3;
}

h3.heading {
  font-size: 1.9rem !important;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1.9rem;
}

.fixed-background-1 h3 {
  margin-bottom: 2rem;
}

.img3 {
  width: 120% !important;
  height: 100% !important;
}
@media (max-width: 37.5em) {
  .img3 {
    width: 100% !important;
  }
}

.img4 {
  width: 100% !important;
  height: 100% !important;
}

.thank {
  height: 40rem;
  padding: 12rem 0;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("img/bllured.jpg");
}

.last {
  font-family: "Patua One", cursive;
  color: #fff;
}

.th {
  margin-left: 0 !important;
  font-size: 7rem !important;
}

.img2 {
  width: 50%;
}

@media (max-width: 37.5em) {
  .img2 {
    width: 90%;
    margin-top: -5rem;
    height: 40rem !important;
  }
}

.img-over {
  overflow: hidden !important;
}

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}
.popup__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  background-color: #fff;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  display: table;
  overflow: hidden;
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.25);
  transition: all 0.5s 0.2s;
}
@media (max-width: 56.25em) {
  .popup__content {
    margin-top: 0rem !important;
    width: 90% !important;
    display: block;
    min-height: 70vh !important;
  }
}
@media (max-width: 37.5em) {
  .popup__content {
    margin: auto !important;
    width: 90% !important;
    display: block;
    min-height: 70vh !important;
  }
}
.popup__left {
  width: 33.333333%;
  display: table-cell;
}
@media (max-width: 56.25em) {
  .popup__left {
    width: 100% !important;
    display: inline;
  }
}
.popup__right {
  width: 66.6666667%;
  display: table-cell;
  vertical-align: middle;
  padding: 3rem 5rem;
}
@media (max-width: 56.25em) {
  .popup__right {
    width: 100%;
    display: inline-block;
    text-align: center;
    padding: 1rem 2rem;
  }
}
.popup__img {
  width: 100%;
  height: 25rem;
}
@media (max-width: 56.25em) {
  .popup__img {
    display: inline;
    width: 49%;
    height: 25rem;
  }
}
@media (max-width: 37.5em) {
  .popup__img {
    display: inline-block;
    width: 49% !important;
    height: 23rem;
  }
}
.popup__text {
  font-size: 1.4rem;
  margin-bottom: 4rem;
  -moz-column-count: 2;
  -moz-column-gap: 4rem;
  -moz-column-rule: 1px solid #eee;
  column-count: 2;
  column-gap: 4rem;
  column-rule: 1px solid #eee;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
@media (max-width: 37.5em) {
  .popup__text {
    font-size: 1.6rem;
    -moz-column-count: 1;
    column-count: 1;
    -moz-column-gap: 0;
  }
}
.popup:target {
  opacity: 1;
  visibility: visible;
}
.popup:target .popup__content {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
.popup__close:link,
.popup__close:visited {
  color: #777;
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  font-size: 3rem;
  text-decoration: none;
  display: inline-block;
  transition: all 0.2s;
  line-height: 1;
}
@media (max-width: 56.25em) {
  .popup__close:link,
  .popup__close:visited {
    color: #fff !important;
    font-size: 4rem !important;
  }
}
.popup__close:hover {
  color: #2998ff;
}

.story {
  width: 75%;
  margin: 0 auto !important;
  margin-bottom: 10rem !important;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.6rem;
  transform: skewX(-12deg);
}
@media (max-width: 56.25em) {
  .story {
    width: 100%;
    padding: 4rem;
    padding-left: 7rem;
  }
}
@media (max-width: 37.5em) {
  .story {
    transform: skewX(0);
  }
}
.story__shape {
  width: 15rem;
  height: 15rem;
  float: left;
  -webkit-shape-outside: circle(50% at 50% 50%);
  shape-outside: circle(50% at 50% 50%);
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  transform: translateX(-3rem) skewX(12deg);
  position: relative;
}
@media (max-width: 37.5em) {
  .story__shape {
    transform: translateX(-3rem) skewX(0);
  }
}
.story__img {
  height: 100%;
  transform: translateX(0rem) scale(1.2);
  backface-visibility: hidden;
  transition: all 0.5s;
}
.story__text {
  transform: skewX(12deg);
}
@media (max-width: 37.5em) {
  .story__text {
    transform: skewX(0);
  }
}
.story__caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 20%);
  color: #fff;
  text-transform: uppercase;
  font-size: 1.7rem;
  text-align: center;
  opacity: 0;
  transition: all 0.5s;
  backface-visibility: hidden;
}
.story:hover .story__caption {
  opacity: 1;
  transform: translate(-50%, -50%);
}
.story:hover .story__img {
  transform: translateX(0rem) scale(1);
  filter: blur(3px) brightness(80%);
}

.navbar-header {
  z-index: 5;
}

.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  margin-top: 0.2rem;
  cursor: pointer;
  transition: all 0.5s ease-out;
}
@media (max-width: 56.25em) {
  .menu-btn {
    margin-top: -0.5rem !important;
  }
}

.menu-btn .btn-line {
  width: 34px;
  height: 3px;
  margin: 0 0 5px 0;
  background: #fff;
  transition: all 0.5s ease-out;
}

.btn-line-2 {
  height: 2.5px !important;
  width: 22px !important;
  margin-left: 11.5px !important;
  transition: all 0.3s !important;
}

.menu-btn:hover .btn-line-2 {
  margin-left: 0px !important;
  width: 34px !important;
}

@media (max-width: 56.25em) {
  .menu-btn .btn-line {
    width: 32px !important;
    height: 3px;
  }
}

.menu-btn.close {
  transform: rotate(180deg);
}

.menu-btn.close .btn-line:nth-child(1) {
  width: 28px !important;
  transform: rotate(45deg) translate(5px, 4.5px);
}

.menu-btn.close .btn-line:nth-child(2) {
  opacity: 0;
}

.menu-btn.close .btn-line:nth-child(3) {
  width: 28px !important;
  transform: rotate(-45deg) translate(7px, -5.5px);
}

.img1 {
  margin-top: 1%;
  margin-left: 2%;
  width: 17rem;
}

.menu {
  position: fixed;
  top: 0;
  margin-left: -1rem;
  width: 100%;
  visibility: hidden;
}

.menu.show {
  visibility: visible;
}

.menu-branding,
.menu-nav {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  float: left;
  width: 50%;
  z-index: 55;
  height: 100vh;
  overflow: hidden;
}

.menu-nav {
  margin: 0;
  padding: 0;
  z-index: 455555555 !important;
  background-image: linear-gradient(
    to right bottom,
    rgba(8, 9, 26, 0.9),
    rgba(9, 10, 31, 0.9)
  );
  list-style: none;
  transform: translate3d(0, -100%, 0);
  transition: all 0.5s ease-out;
}

.menu-nav.show {
  transform: translate3d(0, 0, 0);
}

.menu-branding {
  z-index: 455555555 !important;
  background-image: linear-gradient(
    to right bottom,
    rgba(8, 9, 26, 0.9),
    rgba(9, 10, 31, 0.9)
  );
  transform: translate3d(0, 100%, 0);
  transition: all 0.5s ease-out;
}

.menu-branding.show {
  transform: translate3d(0, 0, 0);
}

.menu-branding .portrait {
  width: 20.5rem;
  height: 20.5rem;
  z-index: 55;
  background-size: cover !important;
  background: url("../img/59.png");
  border-radius: 100px;
  border: solid 3px #2d1dff;
}

.menu .nav-item {
  transform: translate3d(600px, 0, 0);
  transition: all 0.5s ease-out;
}

.menu .nav-item.show {
  transform: translate3d(0, 0, 0);
}

.menu .nav-item.current > a {
  color: #2d1dff;
}

.menu .nav-link {
  font-family: "Lato", sans-serif !important;
  display: inline-block;
  position: relative;
  font-size: 3rem;
  font-weight: 300 !important;
  text-transform: uppercase;
  padding: 1rem 0;
  color: #fff;
  text-decoration: none;
  transition: all 0.5s ease-out;
}

.menu .nav-link:hover {
  color: #2d1dff;
}

.nav-item:nth-child(1) {
  transition-delay: 0.1s;
}

.nav-item:nth-child(2) {
  transition-delay: 0.2s;
}

.nav-item:nth-child(3) {
  transition-delay: 0.3s;
}

.nav-item:nth-child(4) {
  transition-delay: 0.4s;
}

.navbar {
  margin-top: -0.5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  z-index: 5 !important;
  background: rgba(0, 0, 0, 0.2) !important;
}

.awe {
  margin-top: -10%;
  word-spacing: -14rem;
  margin-left: -0.4em;
  font-size: 1.2rem;
}

.navbar-brand img {
  height: 4rem;
}

@media screen and (min-width: 1171px) {
  .projects {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 769px) and (max-width: 1170px) {
  .projects {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) {
  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;
  }
  ul.menu-nav.show,
  div.menu-branding.show {
    transform: translate3d(0, 0, 0);
  }
  .menu-nav {
    background-image: linear-gradient(
      to right bottom,
      rgba(8, 9, 26, 0.9),
      rgba(9, 10, 31, 0.9)
    ) !important;
    height: 70vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 4rem !important;
  }
  .nav-link {
    font-size: 3.8rem !important;
    margin-bottom: 1rem;
  }
  .menu-branding {
    height: 30vh;
    background-image: linear-gradient(
      to right bottom,
      rgba(8, 9, 26, 0.9),
      rgba(9, 10, 31, 0.9)
    ) !important;
    transform: translate3d(100%, 0, 0);
  }
  .menu-branding .portrait {
    background: url("../img/59.png");
    background-size: cover;
    width: 20rem;
    height: 20rem;
  }
}

.section-14 {
  height: 55rem;
  padding: 4rem 1rem;
  background-image: radial-gradient(
    circle at top left,
    #4a42ec 0%,
    #521d91 100%
  );
  color: #fff;
}

.section-14 img {
  width: 16rem;
  height: 16rem;
}
@media (max-width: 56.25em) {
  .section-14 img {
    width: 12rem;
    height: 12rem;
  }
}

.section-14 .team {
  padding: 10vmin 4vmin;
}

.section-14 .card {
  /* width: 22em; */
  font-size: 1.4rem;
  margin-top: 10vmin;
  color: #fff;
}

.card-text {
  padding: 0.5rem;
  font-size: 1.8rem;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}
@media (max-width: 56.25em) {
  .card-text {
    font-size: 1.6rem !important;
  }
}

.section-14 .carousel-item {
  padding-left: 3rem;
}

.border-radius {
  border-radius: 340px;
  width: 60%;
}

.card-name {
  font-family: "Lato", sans-serif !important;
  font-size: 2.3rem;
  font-weight: 400;
  color: #fff;
}
@media (max-width: 56.25em) {
  .card-name {
    font-size: 1.6rem !important;
  }
}

.card-about {
  font-size: 1.6rem;
  color: #e9e0e0;
}
@media (max-width: 56.25em) {
  .card-about {
    font-size: 1.2rem !important;
  }
}

.thank {
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../img/bllured.jpg");
}
@media (max-width: 37.5em) {
  .thank {
    height: 5rem !important;
  }
}

.last {
  font-family: "Patua One", cursive;
  color: #fff;
  text-align: left;
  font-size: 4rem;
}
@media (max-width: 37.5em) {
  .last {
    margin-top: -2rem;
  }
}

.th {
  font-size: 2rem;
}
@media (max-width: 56.25em) {
  .th {
    font-size: 3rem !important;
    text-align: left;
  }
}

.cd-intro h1 {
  font-size: 2.5rem;
}

.section__unique--img img {
  width: 100%;
}

.section__unique--text {
  font-family: "Montserrat", sans-serif;
  backface-visibility: hidden;
  background: rgba(255, 255, 255, 0.2);
  padding: 20px;
  margin-top: 2rem;
  margin-bottom: 20px;
  border-radius: 10px;
  transition: transform 0.3s;
}
.section__unique--text:hover {
  transform: translateY(-1.5rem) scale(1.03);
}

.section__unique--icon {
  backface-visibility: hidden;
  font-size: 6rem;
  margin-bottom: 0.5rem;
  display: inline-block;
  background-image: linear-gradient(45deg, #ccff00, #09afff);
  -webkit-background-clip: text;
  color: transparent;
}

.section__unique--text h1 {
  backface-visibility: hidden;
  font-family: "Lato", sans-serif;
  margin-bottom: 1rem;
  font-size: 3rem;
  text-align: center;
  background-image: linear-gradient(to left, #ccff00, #09afff) !important;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bold;
}

.section__unique--text p {
  font-size: 1.6rem;
  color: #fff;
}

.icon {
  margin-bottom: -1.5rem;
  text-align: center !important;
}

@media (max-width: 56.25em) {
  .box-top {
    margin-bottom: -6rem !important;
  }
}

@media (max-width: 37.5em) {
  .box-top {
    margin-bottom: -7rem !important;
  }
}

@media (max-width: 900px) {
  .box-top {
    margin-bottom: -7rem !important;
  }
}

.video-utube {
  margin-top: 10rem;
  width: 100%;
  height: 70%;
  border-radius: 3px;
  border: 2px solid #5dc178;
}
@media (max-width: 75em) {
  .video-utube {
    height: 140%;
    margin-top: 0.1rem !important;
  }
}

footer {
  font-family: "Roboto", sans-serif;
  /* background-color: #40474e; */
  color: white;
  background-image: linear-gradient(to right, #05080d, #041b36 50%, #05080d);
  padding: 3rem 0 3rem;
  font-size: 1.7rem;
}
footer .watch {
  font-size: 1.7rem;
  color: #ccc;
}

.contact {
  font-size: 1.7rem;
  color: #f7f7f7;
  font-weight: 400;
}

footer img {
  height: 5rem;
  margin: 1.5rem 0;
}

footer svg.svg-inline--fa {
  font-size: 2rem;
  margin: 1.6rem 1rem 0 0;
}

footer svg.svg-inline--fa {
  font-size: 2rem;
  margin: 1.6rem 1rem 0 0;
}

footer svg.svg-inline--fa:hover {
  color: #1ebba3 !important;
}

hr.socket {
  width: 100%;
  border-top: 0.2rem solid #666b71;
  margin-top: 3rem;
}
@media only screen and (max-width: 768px) {
  hr.socket footer .row .col-md-2 {
    margin-top: 8vmin;
  }
}

.phonelink {
  position: fixed;
  /* Lock location always on the scree */
  bottom: -3%;
  /* Set to the bottom */
  right: 0;
  /* Set to the right */
  margin: 30px;
  /* Add space around background */
}
@media (max-width: 37.5em) {
  .phonelink {
    bottom: 0.2% !important;
    right: -4% !important;
  }
}

.phonelink-1 {
  position: fixed;
  /* Lock location always on the scree */
  bottom: -2%;
  /* Set to the bottom */
  right: 0;
  /* Set to the right */
  margin: 25px;
  /* Add space around background */
}
@media (max-width: 37.5em) {
  .phonelink-1 {
    bottom: 1% !important;
  }
}

.phoneicon {
  width: 45px;
  /* Set width of icon */
  height: 45px;
  /* Set height of icon */
  border-radius: 50%;
}

.phoneicon-1 {
  width: 45px;
  /* Set width of icon */
  height: 45px;
  /* Set height of icon */
}

@media screen and (max-width: 780px) {
  .lgscreenphone {
    display: block;
  }
  .mbscreenphone {
    display: block;
    /* On small screens make phone icon appear */
  }
  .lgscreenphone-1 {
    display: block;
  }
  .mbscreenphone-1 {
    display: block;
    /* On small screens make phone icon appear */
  }
}

@media screen and (min-width: 481px) {
  .mbscreenphone {
    display: block;
    /* On large screens make phone icon disappear */
  }
  .lgscreenphone {
    display: block;
    /* On large screens make phone icon appear */
  }
  .mbscreenphone-1 {
    display: block;
    /* On large screens make phone icon disappear */
  }
  .lgscreenphone-1 {
    display: block;
    /* On large screens make phone icon appear */
  }
}

/* Dropdown Button */
.btn11 {
  background-color: #2196f3;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  outline: none;
}

.row {
  max-width: 114rem;
  margin: 0 auto !important;
}
@media (max-width: 56.25em) {
  .row {
    max-width: 50rem;
    padding: 0 3rem;
  }
}
.row:not(:last-child) {
  margin-bottom: 8rem;
}
@media (max-width: 56.25em) {
  .row:not(:last-child) {
    margin-bottom: 6rem !important;
  }
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.row [class^="col-"] {
  float: left;
}
.row [class^="col-"]:not(:last-child) {
  margin-right: 6rem;
}
@media (max-width: 56.25em) {
  .row [class^="col-"]:not(:last-child) {
    margin-right: 0;
    margin-bottom: 6rem !important;
  }
}
@media (max-width: 56.25em) {
  .row [class^="col-"] {
    width: 100% !important;
  }
}
.row .col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}
.row .col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3);
}
.row .col-2-of-3 {
  width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem);
}
.row .col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4);
}
.row .col-2-of-4 {
  width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem);
}
.row .col-3-of-4 {
  width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem);
}

.header {
  overflow: hidden;
  height: 108vh;
  background-image: linear-gradient(#4500ca 4%, rgba(69, 0, 202, 0) 50%),
    url(../img/header.jpg),
    linear-gradient(60deg, #28005e 16%, #8300e4 64%, #0f3bef 100%);
  background-size: cover;
  background-position: top;
  position: relative;
}
@media (min-resolution: (min-width: 600px)) {
  .header {
    background-image: linear-gradient(#4500ca 4%, rgba(69, 0, 202, 0) 50%),
      url(../img/header.jpg),
      linear-gradient(60deg, #28005f 16%, #8300e5 64%, #0f3bff 100%);
  }
}
.header__logo-box {
  position: absolute;
  top: 2rem;
  left: 4rem;
}
.header__logo {
  height: 6rem;
}
.header__text-box {
  position: absolute;
  top: 35%;
  left: 10%;
  text-align: left;
  width: 60%;
}
@media (-webkit-min-device-pixel-ratio: 1.3) {
  .header__text-box {
    margin-top: 0rem !important;
    font-size: 2.5rem !important;
    width: 70% !important;
    letter-spacing: 0rem !important;
  }
}
@media (max-width: 610px) {
  .header__text-box {
    margin-top: 10rem !important;
    font-size: 2.5rem !important;
    width: 90% !important;
    letter-spacing: 0rem !important;
  }
}
@media (max-width: 420px) {
  .header__text-box {
    margin-top: 10rem !important;
    font-size: 2.5rem !important;
    width: 90% !important;
    letter-spacing: 0rem !important;
  }
}
@media (max-width: 380px) {
  .header__text-box {
    margin-top: 10rem !important;
    width: 95% !important;
    margin-left: -2rem;
    letter-spacing: 0rem !important;
  }
}
@media (max-width: 370px) {
  .header__text-box {
    margin-top: 10rem !important;
    width: 100% !important;
    margin-left: -3rem;
    letter-spacing: 0rem !important;
  }
}
@media (max-width: 335px) {
  .header__text-box {
    margin-top: 10rem !important;
    width: 95% !important;
    margin-left: -2rem;
    letter-spacing: 0rem !important;
  }
}

.header-img {
  display: inline;
  width: 45rem;
  margin-left: 70rem;
  margin-top: 10rem;
}
@media (max-width: 1300px) {
  .header-img {
    width: 45rem;
    margin-left: 65rem;
  }
}
@media (max-width: 1300px) {
  .header-img {
    width: 40rem;
    margin-left: 65rem;
  }
}
@media (max-width: 978px) {
  .header-img {
    width: 40rem;
    margin-left: 55rem !important;
  }
}
@media (max-width: 900px) {
  .header-img {
    width: 40rem;
    margin-left: 25rem !important;
  }
}
@media (max-width: 808px) {
  .header-img {
    width: 40rem;
    margin-left: 20rem !important;
  }
}
@media (max-width: 740px) {
  .header-img {
    width: 30rem;
    margin-left: -5rem !important;
    margin-top: 5rem;
  }
}
@media (max-width: 500px) {
  .header-img {
    width: 90% !important;
    margin-left: 0rem !important;
    margin-top: 10rem;
  }
}
.header-img--animated {
  animation: moveInTop 0.5s ease-out;
  animation-fill-mode: backwards;
}

@media (max-width: 500px) {
  .img1 {
    width: 80% !important;
  }
}

@-webkit-keyframes swing {
  15% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  30% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  50% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  65% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  80% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes swing {
  15% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  30% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  50% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  65% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  80% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.header-img:hover {
  /* box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); */
  -webkit-animation: swing 1s ease;
  animation: swing 1s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.navigation__checkbox {
  display: none;
}

.navigation__button {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
}
@media (max-width: 56.25em) {
  .navigation__button {
    top: 4rem;
    right: 4rem;
  }
}
@media (max-width: 37.5em) {
  .navigation__button {
    top: 3rem;
    right: 3rem;
  }
}

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#2998ff, #3120c7);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}
@media (max-width: 56.25em) {
  .navigation__background {
    top: 4.5rem;
    right: 4.5rem;
  }
}
@media (max-width: 37.5em) {
  .navigation__background {
    top: 3.5rem;
    right: 3.5rem;
  }
}

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%;
}

.navigation__item {
  margin: 1rem;
}

.navigation__link:link,
.navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(
    120deg,
    transparent 0%,
    transparent 50%,
    #fff 50%
  );
  background-size: 220%;
  transition: all 0.4s;
}
.navigation__link:link span,
.navigation__link:visited span {
  margin-right: 1.5rem;
  display: inline-block;
}

.navigation__link:hover,
.navigation__link:active {
  background-position: 100%;
  color: #2998ff;
  transform: translateX(1rem);
}

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80);
}

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%;
}

.navigation__icon {
  position: relative;
  margin-top: 3.5rem;
}
.navigation__icon,
.navigation__icon::before,
.navigation__icon::after {
  width: 3rem;
  height: 2px;
  background-color: #333;
  display: inline-block;
}
.navigation__icon::before,
.navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}
.navigation__icon::before {
  top: -0.8rem;
}
.navigation__icon::after {
  top: 0.8rem;
}

.navigation__button:hover .navigation__icon::before {
  top: -1rem;
}

.navigation__button:hover .navigation__icon::after {
  top: 1rem;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg);
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg);
}

#button {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.4);
  width: 4rem;
  height: 4rem;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 3rem;
  right: 0.3rem;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
@media (max-width: 37.5em) {
  #button {
    display: none;
  }
}

#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 1.7em;
  line-height: 37px;
  color: #fff;
}

#button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.6);
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

#button:active {
  background-color: #555;
}

#button.show {
  opacity: 1;
  visibility: visible;
}

/* Styles for the content section */
.content {
  width: 77%;
  margin: 50px auto;
  font-family: "Merriweather", serif;
  font-size: 17px;
  color: #6c767a;
  line-height: 1.9;
}

@media (min-width: 500px) {
  .content {
    width: 43%;
  }
  #button {
    margin: 30px;
  }
}

.content h1 {
  margin-bottom: -10px;
  color: #03a9f4;
  line-height: 1.5;
}

.content h3 {
  font-style: italic;
  color: #96a2a7;
}

.section-about {
  padding: 25rem 0;
  margin-top: -24vh;
}
@media (max-width: 56.25em) {
  .section-about {
    padding: 20rem 0;
  }
}

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(
      to right bottom,
      rgba(41, 152, 255, 0.6),
      rgba(86, 67, 250, 0.6)
    ),
    url("../img/userconf.jpeg");
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -21rem;
}
.section-features > * {
  transform: skewY(7deg);
}
@media (max-width: 56.25em) {
  .section-features {
    padding: 10rem 0;
  }
}
@media (max-width: 37.5em) {
  .section-features {
    margin-top: -6rem !important;
  }
}

.section-services {
  background-color: #f7f7f7;
  padding: 20rem 0 10rem 0;
  margin-top: -10rem;
}
@media (max-width: 56.25em) {
  .section-services {
    padding: 20rem 0 10rem 0;
  }
}

.section-stories {
  position: relative;
  padding: 15rem 0;
}
@media (max-width: 56.25em) {
  .section-stories {
    padding: 10rem 0;
  }
}

.section-book {
  margin-top: -14rem !important;
  padding: 15rem 0;
  background-image: radial-gradient(
    circle at top left,
    #4a42ec 0%,
    #521d91 100%
  );
}
@media (max-width: 56.25em) {
  .section-book {
    padding: 10rem 0;
  }
}

.book {
  margin-top: 5rem !important;
  width: 80%;
  margin: auto;
  background-image: linear-gradient(
      105deg,
      rgba(255, 255, 255, 0.9) 0%,
      rgba(255, 255, 255, 0.9) 50%,
      transparent 50%
    ),
    url(../img/smartmockups_kany0mbx.jpg);
  background-size: cover;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
}
@media (max-width: 75em) {
  .book {
    width: 95%;
    margin: auto;
    background-image: linear-gradient(
        105deg,
        rgba(255, 255, 255, 0.9) 0%,
        rgba(255, 255, 255, 0.9) 65%,
        transparent 65%
      ),
      url(../img/bus.jpg);
    background-size: cover;
  }
}
@media (max-width: 56.25em) {
  .book {
    background-image: linear-gradient(
        to right,
        rgba(255, 255, 255, 0.9) 0%,
        rgba(255, 255, 255, 0.9) 100%
      ),
      url(../img/nat-10.jpg);
  }
}
.book__form {
  width: 50%;
  padding: 6rem;
}
@media (max-width: 75em) {
  .book__form {
    width: 65%;
  }
}
@media (max-width: 56.25em) {
  .book__form {
    width: 100%;
  }
}

.section-unique {
  margin-top: -15rem;
  padding: 15rem 0;
  margin-bottom: -1rem;
  background-image: url("../img/people.png");
}

.section-unique i {
  text-align: center;
}

.people-bg {
  margin-top: -14rem;
  padding: 15rem 0;
  margin-bottom: -1rem;
  -webkit-clip-path: polygon(0 10%, 100% 0, 100%, 95 0 100%);
  clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
  background-color: #2d2254;
}
@media (max-width: 56.25em) {
  .people-bg {
    margin-top: -15rem;
    padding: 20rem 0;
    clip-path: polygon(0 5%, 100% 0, 100% 95%, 0 100%) !important;
  }
}
@media (max-width: 37.5em) {
  .people-bg {
    margin-top: -15rem;
    padding: 20rem 0;
    clip-path: polygon(0 3%, 100% 0, 100% 98%, 0 100%) !important;
  }
}

.section-afiliados {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 45vh;
  font-family: Arial, Arial;
  font-size: 13.33px;
  font-weight: 400;
  line-height: 18px;
  color: #434343;
  background-image: linear-gradient(to right, #05080d, #041b36 50%, #05080d);
  opacity: 0.95;
  border-bottom: 2px solid #000;
  border-top: 2px solid #000;
}

#wrapper {
  width: 100%;
  position: relative;
}

#carousel {
  overflow: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

#carousel::-webkit-scrollbar {
  height: 0;
}

#prev,
#next {
  display: flex;
  justify-content: center;
  align-content: center;
  background: white;
  border: none;
  padding: 8px;
  border-radius: 50%;
  outline: 0;
  cursor: pointer;
  position: absolute;
}

#prev {
  top: 50%;
  left: 0;
  transform: translate(50%, -50%);
  display: none;
}

#next {
  top: 50%;
  right: 1%;
  transform: translate(-50%, -50%);
}

#content {
  display: grid;
  grid-gap: 16px;
  grid-auto-flow: column;
  margin: auto;
  box-sizing: border-box;
}

.item {
  width: 240px;
  height: 180px;
}

.Afiliados-heading {
  height: 10rem;
}

@media (max-width: 900px) {
  .menu-btn .btn-line {
    width: 34px !important;
    height: 2.5px !important;
    margin: 0 0 5px 0;
    background: #fff;
    transition: all 0.5s ease-out;
  }

  .menu-btn .btn-line-2 {
    height: 2.5px !important;
    width: 22px !important;
    margin-left: 11px !important;
    transition: all 0.3s !important;
  }
  .menu-btn:hover .btn-line-2 {
    height: 2.5px !important;
    width: 22px !important;
    margin-left: 11px !important;
    transition: all 0.3s !important;
  }

  #next {
    display: none !important;
  }
  #prev {
    display: none !important;
  }
}
