@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
button {
  font-family: "Poppins", sans-serif;
}

.container {
  min-height: 100vh;
  width: 100%;
  background-color: #333;
  overflow-x: hidden;
  transform-style: preserve-3d;
}

.mob-size {
  display: none;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  height: 3rem;
}

.menu {
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.logo {
  margin-top: 1%;
  margin-left: 2%;
  width: 10rem;
}

.hamburger-menu {
  height: 4rem;
  width: 3rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.bar {
  width: 2rem;
  height: 2.5px;
  border-radius: 2px;
  background-color: #eee;
  transition: 0.5s;
  position: relative;
}

.bar:before,
.bar:after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  background-color: #eee;
  transition: 0.5s;
}

.bar:before {
  transform: translateY(-9px);
}

.bar:after {
  transform: translateY(9px);
}

.main {
  position: relative;
  width: 100%;
  left: 0;
  z-index: 5;
  overflow: hidden;
  transform-origin: left;
  transform-style: preserve-3d;
  transition: 0.5s;
}

header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(
      to right bottom,
      rgba(68, 68, 68, 0.6),
      rgba(68, 68, 68, 0.6)
    ),
    url("ad.jpg");
  background-size: cover;
  position: relative;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner {
  max-width: 35rem;
  text-align: center;
  color: #fff;
  padding: 0 2rem;
}

.title {
  font-size: 2.7rem;
}

.btn {
  margin-top: 1rem;
  padding: 0.6rem 1.8rem;
  background-color: #1179e7;
  border: none;
  border-radius: 25px;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
}

.container.active .bar {
  transform: rotate(360deg);
  background-color: transparent;
}

.container.active .bar:before {
  transform: translateY(0) rotate(45deg);
}

.container.active .bar:after {
  transform: translateY(0) rotate(-45deg);
}

.container.active .main {
  animation: main-animation 0.5s ease;
  cursor: pointer;
  transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
}

@keyframes main-animation {
  from {
    transform: translate(0);
  }

  to {
    transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
  }
}

.links {
  position: fixed;
  width: 30%;
  right: 0;
  top: 0;
  height: 100vh;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
}

.links {
  text-align: center;
}

.links a {
  text-decoration: none;
  color: #eee;
  padding: 0.5rem 0;
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.2s;
  opacity: 0;
  transform: translateY(10px);
  animation: hide 1s forwards ease;
}

.links a:hover {
  color: #eece1a;
}
.links .active {
  color: #eece1a !important;
}

.img-skills {
  transition: all 0.3s;
}

@-webkit-keyframes swing {
  15% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  30% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  50% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  65% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  80% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes swing {
  15% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  30% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  50% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  65% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  80% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.img-skills:hover {
  /* box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); */
  -webkit-animation: swing 1s ease;
  animation: swing 1s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.container.active .links a {
  animation: appear 0.5s forwards ease var(--i);
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes hide {
  from {
    opacity: 1;
    transform: translateY(0px);
  }
  to {
    opacity: 0;
    transform: translateY(10px);
  }
}

.shadow {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  transform-style: preserve-3d;
  transform-origin: left;
  transition: 0.5s;
  background-color: white;
}

.shadow-about {
  height: 150vh !important;
}

.shadow-work {
  height: 150vh !important;
}

.shadow-skills {
  height: 160vh !important;
}

.shadow.one {
  z-index: -1;
  opacity: 0.15;
}

.shadow.two {
  z-index: -2;
  opacity: 0.1;
}

.container.active .shadow.one {
  animation: shadow-one 0.6s ease-out;
  transform: perspective(1300px) rotateY(20deg) translateZ(215px) scale(0.5);
}

@keyframes shadow-one {
  0% {
    transform: translate(0);
  }

  5% {
    transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
  }

  100% {
    transform: perspective(1300px) rotateY(20deg) translateZ(215px) scale(0.5);
  }
}

.container.active .shadow.two {
  animation: shadow-two 0.6s ease-out;
  transform: perspective(1300px) rotateY(20deg) translateZ(120px) scale(0.5);
}

@keyframes shadow-two {
  0% {
    transform: translate(0);
  }

  20% {
    transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
  }

  100% {
    transform: perspective(1300px) rotateY(20deg) translateZ(120px) scale(0.5);
  }
}

.container.active .main:hover + .shadow.one {
  transform: perspective(1300px) rotateY(20deg) translateZ(230px) scale(0.5);
}

.container.active .main:hover {
  transform: perspective(1300px) rotateY(20deg) translateZ(340px) scale(0.5);
}

* {
  box-sizing: border-box;
}

#about {
  background-color: #444 !important;
}

body {
  background: #444;
  color: #fff;
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
}
h1.lg-heading,
h2.lg-heading,
h3.lg-heading {
  font-size: 6rem;
}

.name {
  animation-name: moveInLeft;
  animation-duration: 0.8s;
  animation-timing-function: ease-out;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  70% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.small {
  animation-name: moveInRight;
  animation-duration: 0.8s;
  animation-timing-function: ease-out;
}

@keyframes moveInTopleft {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }
  70% {
    transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  70% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
.head-about {
  animation: aboutHead 0.8s ease-in-out;
  animation-fill-mode: backwards;
}

@keyframes aboutHead {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  70% {
    transform: translateX(2.5rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.ic {
  animation: moveInBottom 0.5s ease-out 0.95s;
  animation-fill-mode: backwards;
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(2rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

h1.sm-heading,
h2.sm-heading,
h3.sm-heading {
  margin-bottom: 3rem;
  padding: 0.2rem 1rem;
  background: rgba(73, 73, 73, 0.5);
}
h5 {
  font-size: 15px;
  font-weight: 400;
  color: #b5bbbf;
}

a {
  color: #fff;
  text-decoration: none;
}
.login:hover {
  text-decoration: none;
  /* box-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue; */
  color: #1ebba3;
  border: 2px solid #1ebba3;
}
.login {
  margin-top: 20px;
  margin-right: 10px;
  font-size: 18px;
  border-radius: 2px;
  float: left;
  text-align: center;
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 0.05);
  color: #fff;
  width: 135px;
  letter-spacing: 2px;
  padding: 8px;
}

.text-secondary {
  color: #eece1a;
}

main {
  padding: 4rem;
  min-height: calc(100vh - 60px);
}
main .icons {
  margin-top: -1rem;
}
main .icons a {
  padding: 0.4rem;
}
main .icons a:hover {
  color: #eece1a;
  transition: all 0.5s ease-out;
}
main#home {
  overflow: hidden;
}
main#home h1 {
  margin-top: 20vh;
}

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas: "bioimage bio bio" "job1 job2 job3";
  grid-template-columns: repeat(3, 1fr);
}
.about-info .bio-image {
  grid-area: bioimage;
  margin: auto;
  border-radius: 50%;
  border: #eece1a 3px solid;
}
.about-info .bio {
  grid-area: bio;
  font-size: 1.5rem;
}
.about-info .job-1 {
  grid-area: job1;
}
.about-info .job-2 {
  grid-area: job2;
}
.about-info .job-3 {
  grid-area: job3;
}
.about-info .job {
  background: #515151;
  padding: 0.5rem;
  border-bottom: #eece1a 5px solid;
}

.projects {
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(3, 1fr);
}

.projects-1 {
  margin-top: 4rem;
  display: grid;
  grid-gap: 5rem;
  grid-template-columns: repeat(8, 1fr);
}

.projects img {
  width: 100%;
  border: 3px #fff solid;
}
.projects img:hover {
  opacity: 0.5;
  border-color: #eece1a;
  transition: all 0.5s ease-out;
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;
}
.boxes div {
  font-size: 2rem;
  border: 3px #fff solid;
  padding: 1.5rem 2.5rem;
  margin-bottom: 3rem;
  transition: all 0.5s ease-out;
}

@media (max-width: 560px) {
  .boxes div {
    overflow: hidden;
    font-size: 1.4rem !important;
    border: 3px #fff solid;
    padding: 1rem 1.5rem !important;
    margin-bottom: 3rem;
    transition: all 0.5s ease-out;
  }
}

@media (max-width: 360px) {
  .boxes div {
    overflow: hidden;
    font-size: 1.4rem !important;
    border: 3px #fff solid;
    padding: 1rem 1.5rem !important;
    margin-bottom: 3rem;
    transition: all 0.5s ease-out;
  }
}

@media (max-width: 332px) {
  .boxes div {
    font-size: 0.6rem !important;
    border: 3px #fff solid;
    padding: 1rem 0.5rem !important;
    margin-bottom: 3rem;
    transition: all 0.5s ease-out;
  }
}

.boxes div:hover {
  /* padding: 0.5rem 1.5rem; */
  background: #eece1a;
  color: #000;
}
.boxes div:hover span {
  color: #000;
}

.btn,
.btn-dark,
.btn-light {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
}
.btn:hover,
.btn-dark:hover,
.btn-light:hover {
  background: #eece1a;
  color: #000;
}

.btn-dark {
  background: black;
  color: #fff;
}

.btn-light {
  background: #c4c4c4;
  color: #333;
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: #2b2b2b;
  color: #fff;
  height: 60px;
}

@media screen and (min-width: 1171px) {
  .projects {
    grid-template-columns: repeat(4, 1fr);
  }
  .projects-1 {
    grid-template-columns: repeat(8, 1fr);
  }
}

@media screen and (min-width: 769px) and (max-width: 1170px) {
  .projects {
    grid-template-columns: repeat(3, 1fr);
  }
  .projects-1 {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media screen and (max-width: 768px) {
  main {
    align-items: center;
    text-align: center;
  }
  main .lg-heading {
    line-height: 1;
    margin-bottom: 1rem;
  }
  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;
  }
  ul.menu-nav.show,
  div.menu-branding.show {
    transform: translate3d(0, 0, 0);
  }
  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px;
  }
  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0);
  }
  .menu-branding .portrait {
    background: url("../img/59.png");
    width: 150px;
    height: 150px;
  }
  .about-info {
    grid-template-areas: "bioimage" "bio" "job1" "job2" "job3";
    grid-template-columns: 1fr;
  }
  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
  .projects-1 {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 500px) {
  main {
    padding: 2rem;
  }
  main #home h1 {
    margin-top: 10vh;
  }
  main .lg-heading {
    margin-top: 1rem;
    font-size: 5rem;
  }
  .projects {
    grid-template-columns: 1fr;
  }
  .projects-1 {
    margin-top: 2rem;
    display: grid;
    grid-gap: 3rem !important;
    grid-template-columns: repeat(3, 1fr);
  }
}

#skill {
  background-color: #444;
}

#work {
  background-color: #444;
}

.phonelink {
  position: fixed; /* Lock location always on the scree */
  bottom: -2%; /* Set to the bottom */
  right: 0; /* Set to the right */
  margin: 30px; /* Add space around background */
}

.phonelink-1 {
  position: fixed; /* Lock location always on the scree */
  bottom: -2%; /* Set to the bottom */
  right: 0; /* Set to the right */
  margin: 30px; /* Add space around background */
}

.phoneicon {
  width: 45px; /* Set width of icon */
  height: 45px; /* Set height of icon */
  border-radius: 50%;
}

.phoneicon-1 {
  width: 45px; /* Set width of icon */
  height: 45px; /* Set height of icon */
  /* // border-radius: 50%; */
}

@media screen and (max-width: 780px) {
  .lgscreenphone {
    display: block;
  }
  .mbscreenphone {
    display: block; /* On small screens make phone icon appear */
  }
  .lgscreenphone-1 {
    display: block;
  }
  .mbscreenphone-1 {
    display: block; /* On small screens make phone icon appear */
  }
  .phonelink-1 {
    bottom: -0.5%; /* Set to the bottom */
  }

  .mob-size {
    display: inline !important;
  }

  .logo {
    margin-left: -2rem !important;
  }

  .hamburger-menu {
    display: none !important;
  }

  ul {
    display: none !important;
  }

  .navbar {
    position: absolute !important;
  }
}
@media screen and (min-width: 481px) {
  .mbscreenphone {
    display: block; /* On large screens make phone icon disappear */
  }
  .lgscreenphone {
    display: block; /* On large screens make phone icon appear */
  }
  .mbscreenphone-1 {
    display: block; /* On large screens make phone icon disappear */
  }
  .lgscreenphone-1 {
    display: block; /* On large screens make phone icon appear */
  }
}

#contact {
  background-color: #444 !important;
}

.work--image {
  height: 12rem !important;
}
